---
---

@import "minimal-mistakes/skins/dirt";
@import "minimal-mistakes";

.schedule-page .page__hero--overlay {
  .wrapper {
    text-align: center;
  }

  .page__title {
    font-size: calc(1.953em - 2px);
  }
}

@media (min-width: 600px) {
  .schedule-page .page__hero--overlay .page__title {
    font-size: calc(2.441em - 2px);
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .page {
    float: inline-end;
    width: calc(100% - 200px);
    padding-inline-end: 200px;
  }

  .sidebar__right {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    width: 200px;
    margin-inline-end: -200px;
    padding-inline-start: 1em;
    z-index: 10;

    &.sticky {
      position: sticky;
      top: 2em;
      float: inline-end;
    }
  }
}